<div class="container-panel">
  <div class="panel-content">
    <nb-card>
      <nb-card-header>Pengaduan</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Nama">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Telepon">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Email">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Keterangan">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Alamat Bangunan">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Alamat Pemohon">
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
